In [1]:
import pandas as pd

In [2]:
workbook = pd.read_csv('qr_merchant.csv')

In [3]:
workbook[workbook['MERCHANT_STATUS']=='ACTIVE'].MERCHANT_NAME.value_counts()

Campion School Pre                         13
GORKHA SHOPPING COMPLEX PVT LTD             7
CAFE AND COFFEE HOUSE                       6
G & B CAFE GROUP                            6
SHANKHAMUL FRUIT JUICE AND LASSI CENTER     6
                                           ..
NEW KAUSHAL GENERAL STORE                   1
JYOTI  POKHREL  KOIRALA                     1
Samsher Sunar                               1
GLAMAXY CLOTHING                            1
Gautam   Traders.                           1
Name: MERCHANT_NAME, Length: 584, dtype: int64

In [4]:
workbook[workbook['MERCHANT_STATUS']=='ACTIVE'].ACCOUNT_NUMBER_HASH.value_counts()

4961ff3b1721bc6a4973754c3f83587292df9a569e51aa3308ef3a492de650ff    13
41b0887d9ca33a223f60b46b743f37b0be0f6d8bda7d2f29d9ed32c8079553c0     7
127de87146c24e132af34374cc5070fc2f65b2a952bd14eae03c471903a3bde3     6
63faf426d6b749f41741e72eee9a7151f964ea0bba90591b2c7dff7660327bc2     6
39f213dde60f359492a155c48558a6155270056e40e1a024ce5ebffc1856880e     6
                                                                    ..
7eabe3e50d4659da7c055773346379fb8ed412f1dc47bcdb0b32096096aba213     1
1a0e00b87c9bcd30251ac0ed5068cad602b2bcd1d7d7c45ff0e4e4a8ae74ed0e     1
0db653e8f55b25ef58a9b198fad3c9e5f54e8c44c04d77afcb8c9c626dd0348f     1
da2526fa353374129c25891f9ae512ab7befd23f8d205a84a3be5eff19fb6c3d     1
5f948d3f31cc1bfa42dc0b54cceb0ade1eb5bff6c732ce4f338ba9eaaf6b09b2     1
Name: ACCOUNT_NUMBER_HASH, Length: 584, dtype: int64

In [5]:
print('print the minimum date is {0}'.format(workbook.SETTLEMENT_DATE.min()))

print the minimum date is 2021-10-04 00:08:30

In [6]:
print('print the max date is {0}'.format(workbook.SETTLEMENT_DATE.max()))

print the max date is 2022-07-27 02:20:35

In [7]:
# from date of 2021-10-04 to 2022-07-27 distinct account_number or merhcant_name count is 584

In [8]:
workbook[workbook['MERCHANT_STATUS']=='ACTIVE'].MERCHANT_NAME.value_counts()

Campion School Pre                         13
GORKHA SHOPPING COMPLEX PVT LTD             7
CAFE AND COFFEE HOUSE                       6
G & B CAFE GROUP                            6
SHANKHAMUL FRUIT JUICE AND LASSI CENTER     6
                                           ..
NEW KAUSHAL GENERAL STORE                   1
JYOTI  POKHREL  KOIRALA                     1
Samsher Sunar                               1
GLAMAXY CLOTHING                            1
Gautam   Traders.                           1
Name: MERCHANT_NAME, Length: 584, dtype: int64

In [9]:
act = workbook['MERCHANT_STATUS']=='ACTIVE'

In [10]:
succ = workbook['SETTLEMENT_STATUS']=='SUCCESS'

In [11]:
workbook[act & succ]

,SN,ID,SETTLEMENT_DATE,MERCHANT_NAME,TERMINAL_DETAILS,TERMINAL_NAME,SESSION_SRL_NO,SETTLEMENT_STATUS,CREDIT_COUNT,SETTLEMENT_STATUS_DESCRIPTION,CREDIT_AMT,MERCHANT_NAME.1,ACQUIRER_NAME,SETTLEMENT_LEVEL,MERCHANT_STATUS,ACCOUNT_NUMBER_HASH
0,1,5179397,2021-12-14 21:17:31,LASAKUSA COFFEE SHOP,\N,\N,642,SUCCESS,1,\N,150.0,LASAKUSA COFFEE SHOP,Nabil Bank,1,ACTIVE,63ded94eca4577164bf84d4c7699703eb5b83cfe3298f2...
1,2,5177608,2021-12-14 21:12:42,KANTIPUR ELECTRONICS.,\N,\N,642,SUCCESS,1,\N,22500.0,KANTIPUR ELECTRONICS.,Nabil Bank,1,ACTIVE,18630b2b6f84fcd8d55be8f3350e3b36b9b6d67f8f804e...
2,3,5174281,2021-12-14 21:04:34,NEW GREEN HOUSE,\N,\N,642,SUCCESS,1,\N,60.0,NEW GREEN HOUSE,Nabil Bank,1,ACTIVE,34e3db77d3857296221c0ed6a8d6a1979ca6e9b00e6a5a...
3,4,5173006,2021-12-14 21:02:12,gauri lal dhanuk,\N,\N,642,SUCCESS,1,\N,800.0,gauri lal dhanuk,Nabil Bank,1,ACTIVE,f6dc7cfe81e3d20c63c9319462e9c10dfd017d968a97f3...
4,5,5177105,2021-12-14 21:10:53,Shree Ajima Hardware,\N,\N,642,SUCCESS,1,\N,1800.0,Shree Ajima Hardware,Nabil Bank,1,ACTIVE,634877b868b23c17951bbab5b2b398d1808e7137bf8823...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,1039,30481302,2022-07-23 15:59:41,Campion School Pre,922841,CAMPION SCHOOL,1305,SUCCESS,1,\N,1.0,Campion School Pre,Nabil Bank,3,ACTIVE,4961ff3b1721bc6a4973754c3f83587292df9a569e51aa...
1039,1040,30547631,2022-07-24 11:55:50,Campion School Pre,922841,CAMPION SCHOOL,1307,SUCCESS,1,\N,10218.0,Campion School Pre,Nabil Bank,3,ACTIVE,4961ff3b1721bc6a4973754c3f83587292df9a569e51aa...
1040,1041,30564191,2022-07-24 15:58:16,Campion School Pre,922841,CAMPION SCHOOL,1308,SUCCESS,1,\N,11368.0,Campion School Pre,Nabil Bank,3,ACTIVE,4961ff3b1721bc6a4973754c3f83587292df9a569e51aa...
1041,1042,30762716,2022-07-26 16:14:32,Campion School Pre,922841,CAMPION SCHOOL,1314,SUCCESS,1,\N,11559.0,Campion School Pre,Nabil Bank,3,ACTIVE,4961ff3b1721bc6a4973754c3f83587292df9a569e51aa...
1042,1043,30795779,2022-07-27 02:20:35,Campion School Pre,922841,CAMPION SCHOOL,1315,SUCCESS,2,\N,26000.0,Campion School Pre,Nabil Bank,3,ACTIVE,4961ff3b1721bc6a4973754c3f83587292df9a569e51aa...

In [12]:
workbook[act & succ].MERCHANT_NAME.value_counts()

Campion School Pre                         13
GORKHA SHOPPING COMPLEX PVT LTD             7
CAFE AND COFFEE HOUSE                       6
G & B CAFE GROUP                            6
SHANKHAMUL FRUIT JUICE AND LASSI CENTER     6
                                           ..
NEW KAUSHAL GENERAL STORE                   1
JYOTI  POKHREL  KOIRALA                     1
Samsher Sunar                               1
GLAMAXY CLOTHING                            1
Gautam   Traders.                           1
Name: MERCHANT_NAME, Length: 584, dtype: int64

In [13]:
## 584 vs 4115

In [14]:
workbook.MERCHANT_STATU.value_counts()

ACTIVE     1041
BLOCKED       2
Name: MERCHANT_STATUS, dtype: int64

In [25]:
workbook[workbook['MERCHANT_STATUS']=='ACTIVE'].MERCHANT_NAME.value_counts()

Campion School Pre                         13
GORKHA SHOPPING COMPLEX PVT LTD             7
CAFE AND COFFEE HOUSE                       6
G & B CAFE GROUP                            6
SHANKHAMUL FRUIT JUICE AND LASSI CENTER     6
                                           ..
NEW KAUSHAL GENERAL STORE                   1
JYOTI  POKHREL  KOIRALA                     1
Samsher Sunar                               1
GLAMAXY CLOTHING                            1
Gautam   Traders.                           1
Name: MERCHANT_NAME, Length: 584, dtype: int64

In [28]:
import io

import msoffcrypto
import openpyxl


decrypted_workbook = io.BytesIO()

with open('nabil.xlsx', 'rb') as file:
    office_file = msoffcrypto.OfficeFile(file)
    office_file.load_key(password='Fonepay@123')
    office_file.decrypt(decrypted_workbook)

# `filename` can also be a file-like object.
# workbook = openpyxl.load_workbook(filename=decrypted_workbook)

workbook2 = pd.read_excel(decrypted_workbook)

In [29]:
workbook2.head()

,SN,ID,SETTLEMENT_DATE,MERCHANT_NAME,SESSION_SRL_NO,SETTLEMENT_STATUS,CREDIT_COUNT,SETTLEMENT_STATUS_DESCRIPTION,CREDIT_AMT,SETTLEMENT_LEVEL,STATUS
0,1,514369,2021-10-02 14:00:00,SMART GLAM BEAUTY PARLOUR TRAINING CENTRE AND ...,416,NOT_REQUIRED,0,NOT_REQUIRED,0.0,\N,ACTIVE
1,2,536588,2021-10-02 14:00:00,Aadil and Rojina Motorcycle Workshop,416,NOT_REQUIRED,0,NOT_REQUIRED,0.0,\N,ACTIVE
2,3,536585,2021-10-02 14:00:00,BIJAY STORE .,416,NOT_REQUIRED,0,NOT_REQUIRED,0.0,\N,ACTIVE
3,4,536580,2021-10-02 14:00:00,NEW RAHIM TRADERS,416,NOT_REQUIRED,0,NOT_REQUIRED,0.0,\N,ACTIVE
4,5,536579,2021-10-02 14:00:00,Deep Mobile Centre,416,NOT_REQUIRED,0,NOT_REQUIRED,0.0,\N,ACTIVE

In [30]:
import hashlib

In [33]:
# Apply hashing function to the column
# workbook2['ACCOUNT_NUMBER_HASH'] = workbook2['ACCOUNT_NUMBER'].apply(lambda x: hashlib.sha256(x.encode()).hexdigest())

In [34]:
print('print the minimum date is {0}'.format(workbook.SETTLEMENT_DATE.min()))

print the minimum date is 2021-10-04 00:08:30

In [36]:
print('print the maximum date is {0}'.format(workbook.SETTLEMENT_DATE.max()))

print the maximum date is 2022-07-27 02:20:35

In [38]:
act = workbook2['STATUS']=='ACTIVE'

In [43]:
succ = workbook2['SETTLEMENT_STATUS']=='SUCCESS'

In [44]:
workbook2[act & succ]

,SN,ID,SETTLEMENT_DATE,MERCHANT_NAME,SESSION_SRL_NO,SETTLEMENT_STATUS,CREDIT_COUNT,SETTLEMENT_STATUS_DESCRIPTION,CREDIT_AMT,SETTLEMENT_LEVEL,STATUS
92,93,518350,2021-10-02 14:00:00,ASHISH DONGOL,416,SUCCESS,1,\N,90.0,\N,ACTIVE
143,144,182332,2021-10-02 14:00:00,MERIDIAN PHARMACY,416,SUCCESS,1,\N,150.0,\N,ACTIVE
184,185,186379,2021-10-02 14:00:00,PURNIMA STATIONARY AND GENERAL STORE,416,SUCCESS,2,\N,4576.0,\N,ACTIVE
196,197,186388,2021-10-02 14:00:00,BASUDEV EMPORIUM,416,SUCCESS,1,\N,550.0,\N,ACTIVE
279,280,193407,2021-10-02 14:00:00,Hem Bahadur Adhikari KFM,416,SUCCESS,1,\N,2700.0,\N,ACTIVE
...,...,...,...,...,...,...,...,...,...,...,...
249135,249136,30944267,2022-07-28 11:57:24,SANDEEP STORE,1319,SUCCESS,1,\N,35.0,1,ACTIVE
249136,249137,30944430,2022-07-28 11:57:27,SUNITA KARKI,1319,SUCCESS,1,\N,75.0,1,ACTIVE
249137,249138,30944853,2022-07-28 11:57:30,Gita Kumari Dahal Bhandari,1319,SUCCESS,2,\N,13300.0,1,ACTIVE
249138,249139,30944896,2022-07-28 11:57:31,GAUTAM HOTEL,1319,SUCCESS,2,\N,18275.0,1,ACTIVE
249139,249140,30944919,2022-07-28 11:57:31,SUSLING STORE,1319,SUCCESS,1,\N,128.0,1,ACTIVE

In [45]:
workbook2[act & succ].MERCHANT_NAME.value_counts()

SHANTINAGAR SHOPPING CENTER                815
G cafe Pvt Ltd                             788
Renuka  Madira  Pasal                      755
MONK AND PUNK CHYAFE                       755
SHANKHAMUL FRUIT JUICE AND LASSI CENTER    747
                                          ...
Bhadrakumari Thapa                           1
AYER CHAPAKHANA                              1
SUDHAN GROCERY                               1
BROTHERS SUPPLIER                            1
BHOJ RAJ PHULARA                             1
Name: MERCHANT_NAME, Length: 3596, dtype: int64